<script type="text/ng-template" id="customPopupTemplate.html">
  <div class="custom-popup-wrapper"
     ng-style="{top: position().top+'px', left: position().left+'px'}"
     style="display: block;"
     ng-show="isOpen() && !moveInProgress"
     aria-hidden="{{!isOpen()}}">
    <p class="message">select location from drop down.</p>

    <ul class="dropdown-menu" role="listbox">
        <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
            ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
            <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
        </li>
    </ul>
  </div>
</script>

<div class="container-fluid typeahead-demo">
  <h4>Find the weather forecast in...</h4>

  <div class="form-inline">
    <!-- Asynchronous results with custom popup template -->
    <input type="text" ng-model="customPopupSelected" placeholder="Enter a postcode, town or country" uib-typeahead="address for address in findLocation($viewValue)" typeahead-popup-template-url="customPopupTemplate.html" id="search-box" class="form-control" > 

    <button ng-click="setLocation(customPopupSelected)" type="submit" class="btn btn-primary">Find!</button>
  </div>

  <div ng-if="weatherInfo && forecastInfo" >
    <div class="jumbotron">
      <div class="info">
        <h2>{{forecastInfo.city.name}}</h2>
        <span>{{forecastInfo.city.country}}</span>
        <h1>{{weatherInfo.main.temp | temperature: 'C' : true}}</h1>
      </div>
      <i ng-class="'wi wi-owm-' + weatherInfo.weather[0].id"></i>
    </div>

    <div id="daily">
      <ul class="list-inline">
        <li ng-repeat="day in forecastInfo.list | limitTo:5:1">
          <span>{{day.dt * 1000 | date:'EEE dd'}}</span>
          <i ng-class="'wi wi-owm-' + day.weather[0].id"></i>
          <h1>{{day.temp.max | temperature: 'C' : true}}<span class="temp-min hidden-xs">{{day.temp.min | temperature: 'C' : true}}</span></h1>
        </li>
      </ul>
    </div>
  </div>
  
</div>
